$type-0: #fff;
$type-1: #39FF33; // $PLAYER_SHIP = 1
// $type-2: #444FBB; // $ENEMY_SHIP = 2
$type-3: #FF8A33; // $PLAYER_SHIP_HIT = 3
$type-4: #444FBB; // $ENEMY_SHIP_HIT = 4
$type-5: #FFF033; // $PLAYER_MISS = 5
$type-6: #ddd; // $ENEMY_MISS = 6
$type-7: #f11; // $PLAYER_SHIP_SUNK = 7
$type-8: #000; // $ENEMY_SHIP_SUNK = 8

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #304352, #d7d2cc);
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.app {
  display: flex;
  &.loading {
    * {
      cursor: wait;
    }
  }
}
.sidepanel {
  width: 45%;
  padding: 0 10px 0 0;
  &__gamelist {
    width: 100%;
    table-layout: fixed;
    padding: 0 0 5px 0;
    list-style-type: none;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: left;
    th {
      color: #D5DDE5;
      background: #1b1e24;
      border-right: 1px solid #343a45;
      font-size: 23px;
      font-weight: 100;
      padding: 24px;
      text-align: left;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      vertical-align: middle;
      &:last-child {
        border-top-right-radius: 3px;
        border-right: none;
      }
    }
    tr {
      overflow: hidden;
      border-top: 1px solid #C1C3D1;
      border-bottom: 1px solid #C1C3D1;
      background: #fff;
      color: #666B85;
      font-size: 16px;
      font-weight: normal;
      text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
      &:first-child {
        border-top: none;
      }
      &:last-child {
        border-bottom: none;
      }
      &:nth-child(odd) {
        background: #EBEBEB;
      }
      &:hover td {
        background: #4E5066;
        color: #FFFFFF;
        border-top: 1px solid #22262e;
      }
      td {
        overflow: hidden;
        padding: 20px;
        text-align: left;
        vertical-align: middle;
        font-weight: 300;
        font-size: 18px;
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
        border-right: 1px solid #C1C3D1;
        cursor: pointer;
        &:last-child {
          border-right: none;
        }
        span {
          display: block;
          width: 100%;
          height: 100%;
          text-overflow: ellipsis;
        }
      }
    }
  }
  &__button {
    &-newbattle {
      width: 100%;
      font-size: 23px;
      font-weight: 400;
      padding: 24px;
      border: none;
      color: #D5DDE5;
      background: #1b1e24;
      font-family: "Roboto", helvetica, arial, sans-serif;
      cursor: pointer;
      vertical-align: middle;
      text-align: center;
      &:hover {
        background: #4E5066;
        color: #FFFFFF;
      }
    }
  }
}
main {
  width: 55%;
  .grid {
    max-width: 100vh;
    display: block;
    position: relative;
    width: 100%;
    &__row {
      width: 100%;
      display: flex;
    }
    &__cell {
      padding: 50%;
      &-wrapper {
        width: 10%;
        border: 1px solid #1b1e24;
      }
      &.disabled {
        pointer-events: none;
      }
    }
    &.ONGOING, &.ENEMY_WON, &.PLAYER_WON {
      border: 1px solid #1b1e24;
    }
    &.ENEMY_WON, &.PLAYER_WON {
      .grid__cover {
        position: absolute;
        top: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0,0,0,0.5);
        color: #fff;
        font-weight: bold;
        text-align: center;
        font-size: 66px;
        vertical-align: middle;
        &::before {
          display: inline-block;
        }
      }
      .grid__button-delete {
        display: block;
      }
    }
    &.ENEMY_WON {
      .grid__cover {
        &::before {
          content: 'YOU LOST';
        }
      }
    }
    &.PLAYER_WON {
      .grid__cover {
        &::before {
          content: 'YOU WON';
        }
      }
    }
    &__button {
      &-delete {
        z-index: 20;
        display: none;
        width: 100%;
        left: 0;
        bottom: 0;
        position: absolute;
        padding: 24px;
        border: none;
        color: #D5DDE5;
        background: #1b1e24;
        font-family: "Roboto", helvetica, arial, sans-serif;
        cursor: pointer;
        font-size: 23px;
        font-weight: 400;
        vertical-align: middle;
        text-align: center;
        &:hover {
          background: #c91233;
          color: #FFFFFF;
        }
      }
    }
  }
}
.type {
  &-0 {
    background: $type-0;
    cursor: crosshair;
    &:hover {
      background: #222;
    }
  }
  &-1 {
    background: $type-1;
  }
  // &-2 {
  //   background: $type-2;
  // }
  &-3 {
    background: $type-3;
  }
  &-4 {
    background: $type-4;
  }
  &-5 {
    background: $type-5;
  }
  &-6 {
    background: $type-6;
  }
  &-7 {
    background: $type-7;
  }
  &-8 {
    background: $type-8;
  }
}
.lastEnemyHit {
  box-shadow: inset 0px 0px 7px 5px rgba(207, 0, 175,1);
}